.App {
    font-family: sans-serif;
    text-align: center;
}

path {
    &.clickable {
        cursor: pointer;
    }
}

path:hover {
    // transform: scale(1.4);
    // -webkit-transform: scale(1.4);

    // transform-origin: 50% 50%;
    // transition:.6s;
    // transform-box: fill-box;
}

// body {
//     overflow: hidden;
// }

html {
    // height: 100vh;
    // min-height: 100vh;
    // min-height: -moz-available;
    // min-height: -webkit-fill-available;
    // min-height: fill-available;
    // min-height: stretch;
    // max-height: 100%;
    overflow: hidden;
    min-width: 768px;
}

body {
    // height: 100vh;
    // min-height: 100vh;
    // min-height: -moz-available;
    // min-height: -webkit-fill-available;
    // min-height: fill-available;
    // min-height: stretch;
    max-height: 100%;
    // max-height: fit-content;
    overflow: hidden;
    min-width: 768px;
}
