.App {
  font-family: sans-serif;
  text-align: center;
}

path {
  &.clickable {
 
    cursor: pointer;
  }
}

path:hover{
  // transform: scale(1.4);
  // -webkit-transform: scale(1.4);

  // transform-origin: 50% 50%;
  // transition:.6s;
  // transform-box: fill-box;
}